:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;

  /* Colors */
  --main-white: #ffffff;
  --main-black: #000000;
  --main-dark: #2f303a;
  --main-team: #f5f4fa;
  --main-font-color: #212121;
  --hover-font-color: #2196f3;
  --secondary-font-color: #757575;
  --footer-color: #2f303a;
  --hover-color: #188ce8;
}

/* Global Styles */
body {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--main-font-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 2px solid red;
  outline-offset: -2px; */
  text-align: center;
}

/* header-footer*/
.header {
  color: var(--main-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-group {
  display: flex;
  padding: 32px 0px;
  margin: 0px 0px 0px 93px;
  gap: 50px;
}
.header-info {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 50px;
}

.logo {
  font-family: "raleway", sans-sarif;
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
}

.logo-blue {
  color: var(--hover-font-color);
}

.logo-black {
  color: var(--main-black);
}

.logo-white {
  color: var(--main-white);
}

.info {
  text-decoration: none;
  color: var(--secondary-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.info:hover {
  text-decoration: none;
  color: var(--hover-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.links {
  text-decoration: none;
  color: var(--main-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.links:hover,
.links-current {
  text-decoration: none;
  color: var(--hover-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.footer {
  color: var(--main-white);
  text-decoration: none;
  background: var(--footer-color);
}
.footer-container {
  width: 1200px;
  height: 252px;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
}
.adr {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-white);
}

.inf {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.inf:hover {
  text-decoration: none;
  color: var(--hover-font-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* main*/
.main {
  color: var(--main-white);
  background: var(--main-dark);
  display: flex;
  flex-direction: column;
}
.main-container {
  width: 1200px;
  height: 600px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 200px;
}

.button {
  width: 216px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--main-white);
  background: var(--hover-font-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--main-white);
  background: var(--hover-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.buttons {
  color: var(--main-font-color);
  background: var(--main-team);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
  margin-top: 94px;
  margin-bottom: 50px;
  cursor: pointer;
}

.buttons:hover {
  color: var(--main-white);
  background: var(--hover-font-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.title {
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  color: var(--secondary-font-color);
  line-height: 24px;
}

.futures {
  background: var(--main-white);
}
.futures-foto {
  margin-bottom: 94px;
}
.list-futures {
  display: flex;
  gap: 30px;
}
.post {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.service {
  display: flex;
  justify-content: space-between;
}

.team {
  background: var(--main-team);
  padding: 0px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.badge {
  background: var(--main-white);
}

.desk {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}
.filters {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.production {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: var(--main-font-color);
}

.note {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}
.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.work-list {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
}
